@media screen and (max-width:480px){
    video.bg, .btn1, .btn2{
        display:none;
    }
    main{
        width:100%;
        background: white;
    }
    header {
        width:100%;
        height:auto;
        background: rgb(12,39,68)
    }
    hgroup{
        color:snow;
        padding: 125px 10px;
    }
    h1,h3{
        font-size:30px;
    }
    h4{
        font-size:40px;
        color:rgb(12,39,68);
    }
    h1,h2{
        text-align: center;
    }
    a.btn{
        width:200px;
        height: auto;
        text-align: center;
        padding:20px;
        display:block;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        text-decoration: none;
        color:rgb(12,39,68);
        margin:auto;
        background: white;
    }
    article.bloc{
        text-align: center;
        width:100%;
        float: left;
        background: white;
        color: rgb(12,39,68);
    }
    hgroup.profil{
        padding: 0px;
        width:100%;
    }
    hgroup.profil h4:last-child{
        padding: 0 0 10px 0;

    }
    h3{
        color:rgb(12,39,68);
        margin: 5px;
    }
    hr{
        color:white;
        width:80%;
        margin: 0 auto 15px;
    }
    time{
        width: 20%;
        margin: 0 0 15px 30%;
        color: black;
        text-shadow: 1px 1px 1px rgb(243,94,54);
    }
    main#page section.content h3,p{
        text-align: center;
        padding: 15px;

    }
    footer{
        float: left;
    }
}
