@media screen and (max-width:990px){
    video.bg, .btn2{
        display:none;
    }
    
    header {
        width:100%;
        height:auto;
        background: rgba(243,94,64,0.9)
    }
    a.btn{
        top: 20vh!important;
    }
    hgroup{
        color:snow;
        padding: 20px 10px 125px;
    }
    hgroup h1{
        font-size:30px;
        text-transform: uppercase;
    }
    hgroup h2{
        font-size: 20px;
        text-transform: uppercase;
    }
    h4{
        font-size:40px;
        color:rgb(12,39,68);
    }
    h1,h2{
        text-align: center;
    }
    figure.rond img{
        margin-top: -117px;
        margin-bottom: 10px;
    }
 
    article.bloc{
        text-align: center;
        width:100%;
        float: left;
        background: white;
        color: rgb(12,39,68);
    }
    hgroup.profil{
        padding: 0px;
        width:100%;
    }
    hgroup.profil h3:last-child{
        padding: 0 0 10px 0;

    }
    h3{
        color:rgb(12,39,68);
        margin: 5px;
    }
    hr{
        color:white;
        width:80%;
        margin: 0 auto 15px;
    }
    
    main {
        height: auto;
        width: 100%;
        background :  rgb(226, 220, 220);
        box-shadow: 1px 1px 30px 1px rgba(255,255,255,1);
    }
    section.content{
        background: rgba(243,94,64,0.1);
        padding: 5px 15px 25px;
        max-width: 760px;
        margin: auto;
        color: rgb(12,39,68);
        
    }
    section.content > h5{
        padding-top: 160px;
        text-align: center;
        margin-bottom: 50px;
        font-weight: 700;
    }
    section.content h1{
        text-align: center;
        font-size: 20px;
        margin-bottom:20px;
        margin-top: 20px;
    }
    section.content section article h2{
        margin-top: 30px;
    }
    section.content section article#techniques h3{
        margin-top: 15px;
    }    
   
}
