@import url("video.css");
@import url("mobile_2.css");


*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
  font-weight: 300;
  font-size:18px;

}
a{
  text-decoration: none;
  color: #123968;
}
a.btn{ width: 40px;
  height: 40px;
  text-decoration: none;
  position: fixed;
  right: 20px;
  z-index: 3;
  color: rgba(243,94,64,0.4);
  top: 50vh;
  text-align: center;
  line-height: 33px;
  font-size: 30px;
  border: 1px solid rgba(243,94,64,0.4);
  border-radius: 5px;
  transform: rotate(-90deg);
  transition: 0.7s
 }
 a.btn:hover {
  color: rgba(255,255,255,1);
  background: rgba(243,94,64,0.6);
  border: 1px solid rgba(243,94,64,0.2);
}
h1{
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;  
  }
h2{
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
}
h3{
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 400;
}

section.flexbox article h2,section.flexbox article h3{
  font-size:20px;
  padding-bottom: 10px;
  text-align: left;
}
section.flexbox article h3{
  color:rgba(243,94,64,1);
}
section.flexbox article h4{
  font-weight: 700;
  padding:10px 0;
}
section.flexbox article ul li{
  list-style-type: none;
}
h4{font-size: 16px}

aside{ 
  height: auto;
  background:rgb(243,94,64);
  color: snow;
  text-shadow: 5px 3px 6px black;
  padding: 10px 0 5px;
  text-align: center
}
aside figure#github img{
  width:50px;
}
  
  cite{font-size: 12px;
  text-transform: capitalize}
  
  footer{ 
    
    background:rgba(0,0,0,0.8);
    color: snow;
    text-align: center;
    height:auto;
    padding-top: 5px
  }
  
  address {
    text-align:right;
    padding: 10px;
    
  }
  address p {
    font-size: 12px;
  }
  address p a{
    font-size: 12px;
  }
  
  address a{
    color: rgb(243,94,64); text-decoration: none;
  }

/* taille ecran ordi */
@media screen and (min-width:991px){
 
  main{
    height: auto;
    width: 100%;
    background :  rgb(226, 220, 220);
    box-shadow: 1px 1px 50px 1px rgba(255,255,255,1);
  }
  
  
  
  header{ 
    width: 100%;
    height: 400px;
    padding-left: 27px;
    background: rgba(243,94,64,0.2) url(../images/orangev2.2.png) 100% 0 no-repeat;
  
  }
  hgroup{ color: snow;
  padding-top: 125px}
  
  h5{
    font-size:18px;
    text-align: center;
    font-weight: 700;
    padding: 30px;
    width:600px;
    margin:auto;
    
  } 
  
  
  a.btn2{width: 250px;
    height: auto;
    text-align: center;
    padding: 15px;
    display: block;
    border: 1px solid white;
    text-decoration: none;
    color: snow;
    margin-top: 60px;
    background: transparent;
    transition: 2s;
    font-size:16px;
  }

  
  a.btn2:hover{
    background: rgba(243,94,64,0.6);
  border-radius: 10px}
  
  
  section#profil{
    position: absolute;
    width: 258px;
    height: auto;
    top: 35px;
    right: 70px
  }
  hgroup.profil,h3{padding: 0;
  text-align: center}
  
  hgroup.profil h4:last-child{padding-bottom: 10px}
  
  figure.rond{
    width: 240px;
    height: 240px;
    overflow: hidden;
    /*background: white;*/
    margin: 50px auto;
    border-radius:50%;
    text-align: center;
    
  }
  

  section.content{
    max-width: 1024px;
    padding: 10px 20px;
    height: auto;
    margin: auto;
    color: rgb(12,39,68);
    background: rgba(243,94,64,0.1);
    line-height: 1.6em;
    
  }
  section.content h1{
    text-align: center;
    font-size: 20px;
    margin-bottom:20px;
    margin-top: 20px;
  }
  section.flexbox{
    display : flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
    align-content: space-between;
  }
  section.flexbox article{
    padding: 10px;
    min-width: 400px;
    border:rgba(255,250,250,0.2) solid 1px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  

  

}