/* Version Tablette */
@media screen and (min-width:481px) and (max-width:1023px){

    main {
        height:auto;
        width:100%;
        background: orange;
        float:left;
    }
  
    header{
        width:100%;
        height: 400px;
        background: rgba(12,39,68,.3);
        color:snow;
    }
    hgroup {
        padding: 25px 0 0 0;
    }
    section.content h3,p {
        text-align: center;
        padding: 15px;
    }
    h1,h3,h2{
        font-size: 30px;
        line-height: 35px;
        text-align:center;
    }
    h2{
        font-size: 40px;
    }
    h4{
        text-align: center;
    }
    a.btn2{
        display:none;
    }
    section#profil{
        width:100%;
        height:auto;
        color:darkblue;
        float:left;
        background:white;
        justify-content: center;
        display:flex;
    }
    figure.round{
        margin:auto;
    }


}