video{
    height: 400px;
    overflow: hidden;
}
video.bg{
    width: 100%;
    height: 400px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    overflow-y: hidden;
    z-index: -1;
    background: #e2bcb4;
}

@media screen and (max-width:990px){
 video.bg{display: none}
   
}